body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}
form {
    margin: auto;
    width: 400px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px #000;
}
.form-group {
    margin-bottom: 25px;
    text-align: left;
}
label {
    font-weight: bold;
    font-size: 14px;
}
input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.btn {
    margin-top: 10px;
    background-color: #ff7f50;
    border: 0;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
select {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}